<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015.
  ~ This code is written by Igor Bogoslavskyi. If you experience any issues with
  ~ it please contact me via email: igor.bogoslavskyi@gmail.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnit.learnit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TestCustomApplication"
        android:label="@string/app_name">
    </application>

</manifest>
